page <%= page %>
total pages <%= totalPages %>

<% results.forEach(result => {%>
  <div style="padding: 10px">
    <% if (result.title) { %>
      <a href="/media/movie/<%= result.id %>"><%= result.title %></a>
    <br>
    <% } else { %>
    <%= result.name %> 
    <% } %>
    <%= result.release_date %> <br>
    <%= result.overview %> <br>
  </div>
<% }); %>
